<div>
  <%= flash[:notice] %>
</div>


<%= render 'list', book: @newbook, user: @user %>
<h1>Book detail</h1>
<p><%= image_tag @book.user.get_profile_image(100,100) %></p>
<p><%= link_to @book.user.name, user_path(@user.id) %></p>
<p><%= link_to @book.title, book_path(@book.id) %></p>
  <p><%= @book.body %></p>

<% if @user == current_user %>
<p><%= link_to "Edit", edit_book_path(@book.id) %></p>
<p><%= link_to "Destroy", book_path(@book.id),method: :delete, "data-confirm" => "本当に消しますか？" %></p>
<% end %>